<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h3>What?</h3>
    <p>
      This is a website that is a continuation of the Data for Black Lives conference. It is a way for community organizors and Data Scientists to share datasets and review them. As well as collaberating on what questions to ask.
    </p>
    <br>
    <h3>Why?</h3>
      There is a disconnect from the amazing people doing the work everyday to the Data Scientists looking at overall trends. This is a way to bridge that gap.
    <br>
    <h3>How?</h3>
    <p>
      Community organizers can ask questions about meaning in their data and Data Scientists can review the data and give feedback about what questions tot ask
    </p>
    
  </div>
</div>