<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <a href="#about">1. What is this site?</a><br />
    <a href="#what-is-a-data-scientist">2. What is a data scientist?</a><br />
    <a href="#unsure">3. I'm unsure how I can use this site.</a><br />
    <a href="#idea">4. I have an awesome idea to make this site better</a>
  </div><br /><br /><br />

  <div id="about" class="col-lg-6 col-lg-offset-3">
    <h3>1. What is this site?</h3>
    <hr>
    <h4>What?</h4>
    <p>
      This is a website that is a continuation of the Data for Black Lives conference. It is a way for community organizors and Data Scientists to share datasets and review them. As well as collaberating on what questions to ask.
    </p>

    <h4>Why?</h4>
    <p>
      There is a disconnect from the amazing people doing the work everyday to the Data Scientists looking at overall trends. This is a way to bridge that gap.
    </p>

    <h4>How?</h4>
    <p>
      Community organizers can ask questions about meaning in their data and Data Scientists can review the data and give feedback about what questions tot ask
    </p>
  </div>
  <div id="what-is-a-data-scientist" class="col-lg-6 col-lg-offset-3">
    <h3>2. What is a data scientist?</h3>
    <hr>
    <p>
      Biscuit jelly liquorice gummies dragée marzipan. Candy canes fruitcake jelly lollipop chocolate bar macaroon chocolate donut. Bear claw marzipan pie sweet roll chocolate bar cotton candy. Bonbon jelly beans cookie danish sweet sesame snaps danish gummies. Cotton candy cotton candy bonbon macaroon gingerbread gummies halvah. Ice cream apple pie lemon drops tootsie roll. Chocolate dragée dessert. Cheesecake cookie gingerbread candy cupcake halvah chocolate cake pudding lollipop. Cheesecake fruitcake croissant. Caramels fruitcake muffin jelly cupcake carrot cake icing. Sweet cupcake sweet roll lollipop jujubes jelly beans bonbon brownie cookie. Toffee oat cake candy canes brownie fruitcake. Cake gummies sweet apple pie brownie cheesecake chocolate cake chocolate cake.

      Tootsie roll gummies wafer. Icing dragée sweet cupcake sesame snaps caramels croissant bear claw. Dessert tootsie roll halvah jujubes danish gummies caramels. Carrot cake wafer tootsie roll pudding jujubes. Caramels sweet roll powder. Cupcake dessert sweet. Tootsie roll jelly sesame snaps cake muffin. Sweet roll candy canes icing pie ice cream wafer. Cookie caramels marzipan biscuit caramels. Dessert dessert jujubes jelly-o powder candy sweet roll. Jelly cookie ice cream sweet roll oat cake sweet roll cake. Cotton candy pastry chocolate cake biscuit tootsie roll dragée topping chocolate bar icing. Jelly pie fruitcake.
    </p>
  </div>
  <div id="unsure" class="col-lg-6 col-lg-offset-3">
    <h3>3. I'm unsure how I can use this site.</h3>
    <hr>
    <p>
      Biscuit jelly liquorice gummies dragée marzipan. Candy canes fruitcake jelly lollipop chocolate bar macaroon chocolate donut. Bear claw marzipan pie sweet roll chocolate bar cotton candy. Bonbon jelly beans cookie danish sweet sesame snaps danish gummies. Cotton candy cotton candy bonbon macaroon gingerbread gummies halvah. Ice cream apple pie lemon drops tootsie roll. Chocolate dragée dessert. Cheesecake cookie gingerbread candy cupcake halvah chocolate cake pudding lollipop. Cheesecake fruitcake croissant. Caramels fruitcake muffin jelly cupcake carrot cake icing. Sweet cupcake sweet roll lollipop jujubes jelly beans bonbon brownie cookie. Toffee oat cake candy canes brownie fruitcake. Cake gummies sweet apple pie brownie cheesecake chocolate cake chocolate cake.

      Tootsie roll gummies wafer. Icing dragée sweet cupcake sesame snaps caramels croissant bear claw. Dessert tootsie roll halvah jujubes danish gummies caramels. Carrot cake wafer tootsie roll pudding jujubes. Caramels sweet roll powder. Cupcake dessert sweet. Tootsie roll jelly sesame snaps cake muffin. Sweet roll candy canes icing pie ice cream wafer. Cookie caramels marzipan biscuit caramels. Dessert dessert jujubes jelly-o powder candy sweet roll. Jelly cookie ice cream sweet roll oat cake sweet roll cake. Cotton candy pastry chocolate cake biscuit tootsie roll dragée topping chocolate bar icing. Jelly pie fruitcake.
    </p>
  </div>
  <div id="idea" class="col-lg-6 col-lg-offset-3">
    <h3>4. I have an awesome idea to make this site better</h3>
    <hr>
    <p>
      Biscuit jelly liquorice gummies dragée marzipan. Candy canes fruitcake jelly lollipop chocolate bar macaroon chocolate donut. Bear claw marzipan pie sweet roll chocolate bar cotton candy. Bonbon jelly beans cookie danish sweet sesame snaps danish gummies. Cotton candy cotton candy bonbon macaroon gingerbread gummies halvah. Ice cream apple pie lemon drops tootsie roll. Chocolate dragée dessert. Cheesecake cookie gingerbread candy cupcake halvah chocolate cake pudding lollipop. Cheesecake fruitcake croissant. Caramels fruitcake muffin jelly cupcake carrot cake icing. Sweet cupcake sweet roll lollipop jujubes jelly beans bonbon brownie cookie. Toffee oat cake candy canes brownie fruitcake. Cake gummies sweet apple pie brownie cheesecake chocolate cake chocolate cake.

      Tootsie roll gummies wafer. Icing dragée sweet cupcake sesame snaps caramels croissant bear claw. Dessert tootsie roll halvah jujubes danish gummies caramels. Carrot cake wafer tootsie roll pudding jujubes. Caramels sweet roll powder. Cupcake dessert sweet. Tootsie roll jelly sesame snaps cake muffin. Sweet roll candy canes icing pie ice cream wafer. Cookie caramels marzipan biscuit caramels. Dessert dessert jujubes jelly-o powder candy sweet roll. Jelly cookie ice cream sweet roll oat cake sweet roll cake. Cotton candy pastry chocolate cake biscuit tootsie roll dragée topping chocolate bar icing. Jelly pie fruitcake.
    </p>
  </div>
</div>
